@import"./media.scss";

.main_info{
    padding-top: 130px;
    @include tablet{
        padding-top: 25px;
    }
}

.main_info_wrapper{
    padding: 0 64px;
    display: flex;
    gap: 28px;
    @include laptop{
        flex-direction: column;
    }
    @include phone{
        padding: 0 16px;
    }
}

.main_info_content{
    display: flex;
    align-items: center;
    gap: 28px;
    @include phone{
        flex-direction: column;
    }
}

.main_info_about{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 38px 22px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.03);
    background: #dba77b;
    gap: 38px;
    @include phone{
        width: 90%;
    }
    .info_link{
        text-decoration: none;
        border-radius: 8px;
        background: #fff;
        border: none;
        text-align: left;
        padding: 13px 0;
        padding-left: 21px;
        margin-top: 15px;
        position: relative;
        .svg_info1{
            position: absolute;
            stroke-width: 1px;
            stroke: #dba77b;
            left: 35%;
            top: -50%;
            @include tablet{
                left: 43%;
            }
        }
        .svg_info2{
            position: absolute;
            stroke-width: 1px;
            stroke: #dba77b;    
            left: 52%;
            top: -40%;
            @include tablet{
                left: 58%;
                top: 10px;
                height: 30px;
            }
            @include phonemini{
                left: 63%;
                width: 120px;
            }
        }
        .svg_info3{
            position: absolute;
            stroke-width: 1px;
            stroke: #dba77b;
            left: 67%;
            bottom: 2%;
            @include tablet{
                left: 88%;
                height: 19px;
                width: 60px;
            }
            @include phone{
                left: 81%;
            }
            @include phonemini{
                left: 80%;
                width: 70px;
            }
        }
        .infoo_button{
            
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: #dba77b;
                text-decoration: none;
                
        
        }
    }
    h2{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 28px;
        color: $white;
    }
    .main_info_about_text{
        display: flex;
        flex-direction: column;
        gap: 35px;
        max-width: 372px;
        p{
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: $white;
            @include tablet{
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}

.main_info_about2{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.03);
    background: #fff;
    gap: 31px;
    padding-top: 40px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 90px;
    position: relative;
    @include phone{
        width: 90%;
    }
    .svg_info_about{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .svg_info_about2{
        position: absolute;
        top: 45px;
        right: 22px;
       
    }
    h2{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #222;
    }
    .main_info_about_text2{
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 372px;
        p{
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 14px;
            color: #717171;
            @include tablet{
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}

.main_info_about3{
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
    @include laptop{
        gap: 0;
        justify-content: space-between;
        flex-direction: row;
    }
    @include tablet{
        gap: 28px;
    }
    @include phone{
        flex-direction: column;
    }
    .main_info_about3_info{
        display: flex;
        justify-content: space-between;
        @include tablet{
            width: 100%;
            gap: 20px;
        }
        .Businesses{
            width: 40%;
            border-radius: 16px;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.03);
            background-color: #fff;
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 27px 15px;
            position: relative;
            @include tablet{
                width: 50%;
            }
            .svg_buisnes{
                position: absolute;
                top: 0;
                right: 0;
            }
            h2{
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 16px;
                color: #000;
            }
            p{
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: #717171;
                max-width: 174px;
                @include tablet{
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }
    }
.main_info_about3_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include laptop{
        width: 50%;
    }
    @include tablet{
        width: 100%;
    }
}

    .infoo_link{
        text-decoration: none;
        border-radius: 6px;
        padding: 16px;
        backdrop-filter: blur(22px);
        background: #dba77b;
        border: none;
        padding: 12px 16px;
        .info_button{
           
            
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: #fff;
               
        
        }
    }
}

.main_info_about3_text{
    border-radius: 16px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.03);
    background: #fff;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 8px;
    @include tablet{
        width: 100%;
    }
    p{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #717171;
        @include tablet{
            font-size: 12px;
            line-height: 14px;
            width: 100%;
        }
    }
}

.main_info_about3_contact{
    display: flex;
    align-items: center;
    gap: 10px;
    .main_info_about3_input_wrapper{
        display: flex;
        align-items: center;
        border: 1px solid #f1f1f1;
        border-radius: 12px;
        padding: 17px 16px;
        backdrop-filter: blur(34.79999923706055px);
        background: #fff;
        width: 100%;
        justify-content: space-between;
        @include tablet{
            width: 40%;
        }
        input{
            border: none;
            outline: none;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 13px;
            color: #717171;
            @include tablet{
                width: 100%;
            }
        }
    }
}