@import"./media.scss";

.main_news{
    padding-top: 50px;
    padding: 0 64px;
    @include tablet{
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
    }
    @include phone{
        padding-left: 16px;
        padding-right: 16px;
    }
    @include laptop{
        padding-top: 30px;
    }
}

.main_news_wrapper{
    width: 100%;
    @include laptop{
        width: 100%;
    }
    .main_news_title{
        font-family:  "Roboto", sans-serif;;
        font-weight: 600;
        font-size: 48px;
        text-transform: capitalize;
        color: #000;
        @include tablet{
            font-size: 24px;
        }
        @include phone{
            display: none;
        }
    }
}

.main_news_conatiner{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    @include tablet{
        margin-top: 34px;
    }
}

.main_news_objects{
    display: grid;
    grid-template-columns: repeat(2, 46%);
    justify-content: space-between;
    row-gap: 15px;
    width: 100%;
    @include tablet{
        justify-content: row;
        gap: 20px;
    }
    @include phone{
        grid-template-columns: repeat(1, 100%);
    }
}

.main_news_items{
    border-radius: 16px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    display: flex;
    gap: 15px;
    @include phone{
        &:nth-last-child(-n+7){
            display: none;
        }
    }
    img{
        width: 219px;
        height: 137px;
        border-radius: 16px;
        @include tablet{
            width: 170px;
            height: 106px;
        }
        @include mobileS{
            height: 146px;
        }
    }
}

.main_news_objects_text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 18px;
    padding-right: 39px;
    @include laptop{
        padding-right: 0px;
    }
    @include tablet{
        padding-top: 0px;
    }
    @include mobileS{
        gap: 0;
        justify-content: space-between;
    }
    h2{
        font-family: "Roboto", sans-serif;;
        font-weight: 500;
        font-size: 18px;
        text-transform: capitalize;
        color: #3a3a3a;
        @include laptop{
            font-size: 12px;
            line-height: 22px;
        }
        @include tablet{
            line-height: 20px;
            min-width: 142px;
        }
        @include mobileS{
            min-width: 0;
        }
    }
    p{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        text-transform: capitalize;
        color: #717171;
        @include mobileS{
            font-size: 10px;
        }
    }
}