@import"./media.scss";


.main_proposition_wrapper{
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding: 0 64px;
    @include laptop{
        padding: 0 40px;
    }
    @include phone{
        padding: 0 16px;
    }
}

.main_proposition_functions{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    @include phone{
        gap: 20px;
    }
    .proposition_link{
        text-decoration: none;
        border-radius: 8px;
        padding: 20px 16px 16px 24px;
        background: $secondary-color;
        border: none;
        width: 7%;
        @include laptop{
            width: 10%;
        }
        @include tablet{
            width: 12%;
        }
        @include phone{
            width: 18%;
            padding: 9px 24px;
        }
        @include mobileS{
            width: 23%;
            padding: 9px 12px;
        }
        .proposition_button{
                font-family: "Onest", sans-serif;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: 500;
                font-size: 13px;
                color: $white;
                @include phonemini{
                    font-size: 10px;
                }
        }
    }
}

.input_wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #e2e2e2;
    border-radius: 16px;
    padding: 15px 25px; 
    width: 55%;
    @include phone{
        padding: 0;
        width: 70%;
    }
    @include mobileS{
        gap: 10px;
    }
    input{
        border: none;
        outline: none;
        font-family: "Roboto", sans-serif;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        color: $black;
        @include phonemini{
            font-size: 13px;
        }
        @include mobileS{
            font-size: 11px;
        }
    }
}

.main_proposition_menu{
    display: flex;
    flex-direction: column;
    .main_proposition_about{
        display: grid;
        grid-template-columns: repeat(3, 32%);
        justify-content: space-between;
        row-gap: 15px;
        width: 100%;
        @include laptop{
            grid-template-columns: repeat(2, 48%);
        }
        @include phone{
            grid-template-columns: repeat(1, 100%);
        }
        a{
            text-decoration: none;
        }
        .main_proposition_about_info{
            flex: 1;
            height: 70%;
            border: 1px solid #f1f1f1;
            border-radius: 16px;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.03);
            background: $white;
            display: flex;
            flex-direction: column;
            padding-top: 30px;
            padding-left: 30px;
            padding-bottom: 43px;
            .main_proposition_about_info_text{
                margin-top: 34px;
                display: flex;
                flex-direction: column;
                width: 81%;
                gap: 28px;
                h2{
                    font-family: "Roboto", sans-serif;
                    font-weight: 500;
                    font-size: 28px;
                    color: $black;
                    width:110%;
                }
                p{
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    color: #717171;
                    @include tablet{
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }
            a{
                margin-top: 47px;
                text-decoration: none;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: $secondary-color;
            }
        }
    }
}


